@use "../../variables.scss" as mixsin;
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  h1 {
    font-size: mixsin.$headingFontSize;
  }
  .time {
    display: flex !important;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;

    .digit_text {
      display: flex !important;
      justify-content: center;
      align-items: center;
      flex-direction: column !important;
      .digit {
        font-size: 10rem !important;
      }
      .text{
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
